body {
  text-align: center;
  background-color: cadetblue;

}

.link{
  margin: 10px;
}

.transaction{
  display: grid;
  grid-template-columns: repeat(5, 100px);
  text-align: center;

}

#header{
  background-color: cadetblue;
}

#transactions-container{
  background-color: darkcyan;
}

.breakdown{
  display: grid;
  grid-template-columns: 100px 100px;
  text-align: center;
}

.green{
  color: green;
}

.red{
  color: red;
}