body {
  text-align: center;
  background-color: cadetblue;

}

.link{
  margin: 10px;
}



#header{
  background-color: cadetblue;
}


.green{
  color: green;
}

.red{
  color: red;
}

table{
  margin-left: auto;
  margin-right: auto;
}

thead{
  font-weight: bold;
}

input{
  margin: 5px;
}

.recharts-wrapper{
  margin-left: auto;
  margin-right: auto;
}